<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</html>
<body>
  <form action="login" method="post">

    <h1>Cargar Información</h1>

    <div class="container" style="width: 20%">
        <label for="afil">Afil</label>
        <a href="" id="afil">Registrar Afil</a>
    </div>
    
    <div class="container" style="width: 20%">
      <label for="Coin">Coin</label>
      <input type="file" name="Coin" id="Coin_input"/>
    </div>

    <div>
      <div class="container mt-3">
        <button type="submit">Ingresar</button>
      </div>
    </div>

    <% if (session.loginError) { %>
      <p><%= session.loginError %></p>
    <% } %>

  </form>
</body>
<script src="/js/loadInfo.js"></script>
</html>
