<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Ejecutor</title>
</html>
<body>
  <form action="registerEjecutor" method="post">

    <h1>Registrar Ejecutor</h1>

    <div class="container" style="width: 20%">
        <label for="clave_eje">Clave eje</label>
        <input type="text" name="clave_eje" id="clave_eje"/>
    </div>
    
    <div class="container" style="width: 20%">
      <label for="nombre">Nombre</label>
      <input type="text" name="nombre" id="nombre"/>
    </div>

    <div class="container" style="width: 20%">
      <label for="rfc">RFC</label>
      <input type="text" name="rfc" id="rfc"/>
    </div>

    <div class="container" style="width: 20%">
      <label for="cp">CP</label>
      <input type="number" name="cp" id="cp"/>
    </div>

    <div class="container" style="width: 20%">
      <label for="user">Usuario</label>
      <input type="text" name="user" id="user"/>
    </div>

    <div class="container" style="width: 20%">
      <label for="pass">Contraseña</label>
      <input type="password" name="pass" id="pass"/>
    </div>

    <div class="container" style="width: 20%">
      <label for="type">Tipo</label>
      <input type="text" name="type" id="type"/>
    </div>

    <div>
      <div class="container mt-3">
        <button type="submit">Registrar</button>
      </div>
    </div>

    <% if (session.registerEjecutor) { %>
      <p><%= session.registerEjecutor %></p>
    <% } %>

  </form>
</body>
</html>
