<div class="banner">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-2">
                <div class="d-flex space-around">
                    <img src="/imgs/imss-logo.png" alt="Logo IMSS" style="height: 70px; width: auto;">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex space-around">
                    <h1 class="text-white">SIEFI</h1>
                    <div class="linea">
                        <h5 class="text-white">SISTEMA DE EJECUCIÓN FISCAL</h5>   
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-4">
                <div class="d-flex space-around">
                    <img src="" alt="ESCUDO">
                </div>
            </div> -->
        </div>
    </div>
</div>
<script>
    const bsAlert = (msg, type) => {
        const wrapper = document.createElement('div')
        wrapper.innerHTML = [
            `<div class="alert alert-${type} tk-dark-text alert-dismissible" role="alert" id="alert_navbar">`,
            `   <div>${msg}</div>`,
            '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
            '</div>'
        ].join('')

        $('#div_alert').append(wrapper)
    }
</script>
<div class="barra"></div>
<div class="container">
    <div id="div_alert" class="mt-2"></div>
</div>