<!--<script src="../../src/assets/js/main.js" type="module"></script>-->

    <footer>
        <div class="space-around">
            <div class="row">
                <div class="col-lg-2">
                    <!-- <img src="" alt="ESCUDO"> -->
                </div>
                <div class="col-lg-7"> 
                    <div class="row space-around">
                        <div class="col-2">
                            <img src="/imgs/imss-logo.png" alt="Logo IMSS" style="height: 100px; width: auto;">
                        </div>
                        <div class="col-10">
                            <h3>INSTITUTO MEXICANO DEL SEGURO SOCIAL</h3>
                        </div>
                     </div>
                </div>
                <!--LOG IN-->
                <div class="col-lg-3"></div>
            </div>
        </div>
    </footer>
</body>
</html>